html {
    padding-top: 5px;
	background-image: url(../images/background_2.jpg);
}
body {
    width: 75%;
	padding: 40px;
	margin: 15px auto;
	background-color: #EBEBEB;
	border-radius: 30px;
}
h1 {
    color: #E87E04;
	font-size: 2em;
	margin-left: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}
h2 {
    color: #E87E04;
	font-size: 1.7em;
	margin-left: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}
p {
    color: #22313F;
	line-height: 150%;
	margin-top: 20px;
	margin-left: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}
.emphasis {
    font-weight: bold;
}